<% @title = @usuario.nome %>
<div id="templatemo_content">
<h2 id="templatemo_titulo_imagem">Página de <%= @usuario.nome %></h2>

<div class="product_detail_left">
		<% @img = 0 %>
		<h2>Imagens</h2><% if current_usuario.id == @usuario.id  %><h2><%= link_to "Adicionar Imagem", new_image_path() %></h2><%end%>
		<% @image.each do |image| %>
		<table>
			<% @img += 1 %>
			<% if @img % 2 == 1%>
				<tr><td><%= link_to (image_tag image.photo.url(:small)), :controller => "images", :action => "show", :id => image.id %></td>	
			<% else %>
				<td><%= link_to (image_tag image.photo.url(:small)), :controller => "images", :action => "show", :id => image.id %></td></tr>
			<% end %>	
		<% end %>
		</table>
</div>
<div class="product_detail_right">
	<h2>Atributos</h2>
		<% if usuario_signed_in? %>				
			<% @atributo.each do |atributo| %>
				<% if current_usuario.id == atributo.usuario_id%>
					<h6><%= atributo.nome %> - <%= link_to "Editar Atributo", edit_atributo_path(atributo) %></h6>
				<% end %>
			<% end %>		
		<% end %>
		<% if current_usuario.id == @usuario.id  %>
			<h5><%= link_to "Criar Atributos", new_atributo_path() %></h5>
		<% end %>
</div>
</div>
