<% if usuario_signed_in? %>
	<div id="comente">
	<h2>Comente</h2>
		<%= form_for([@image, @image.comentarios.build]) do |f| %>
			<div class="titulo_comentario">
				<%= f.label :titulo %><br>
				<%= f.text_field :titulo %>
			</div>
			<div class="conteudo_comentario">
				<%= f.label :conteudo %><br>
				<%= f.text_area :conteudo, :size => "70x10"%>
			</div>
			<p><%= f.submit %></p>
		<% end %>
	</div>
<% end %>
