<%= form_for @image, :html => {:multipart => true} do |f| %>
	
	<h6>Titulo</h6>
	<%= f.text_field:titulo %>
		
	 <div><h6>Descrição</h6>
	 <%= f.text_area(:descricao, :size => "24x6") %></div>

		<% if @atributo %>
			<div><h5>Atributos:</h5>
			<% @atributo.each do |atributo| %>
				<ul>
					<li><h7><%= check_box_tag "image[atributo_ids][]", atributo.id, @image.atributos.include?(atributo) %> <%= atributo.nome %></h7></li>
				</ul>
			<% end %>
		<% else %>
			<h3>Ainda não existem atributos</h3>
			<p>Criar atributos</p>
		<% end %>
	</div>

  <div>
  	<%= f.file_field :photo %>
  </div>

  </br>
  <div><%= f.submit "Criar" %></div>
<% end %>
