<% @title = "Imagem" %>

<p><small>Criado por <%= @image.usuario.nome %></small></p>
<%= image_tag @image.photo.url(:large) %>
<% if usuario_signed_in? %>
	<% if current_usuario.id == @image.usuario.id %>
		<p><%= link_to "Editar Imagem", edit_image_path(@image) %> | <%= link_to "Deletar Imagem",	@image, :method => :delete, :confirm => "Confirmar?" %></p>
	<% end %>
<% end %>

<h2>Comentários</h2>
<% @image.comentarios.each do |comentario| %>
	<h4><%= comentario.titulo %></h4>
	<small><%= comentario.usuario.nome %> disse:</small>
	<p><%= comentario.conteudo %></p>
	<% if current_usuario.id == comentario.usuario.id %>
		<%= link_to "Apagar comentário",	[@image, comentario], :method => :delete, :confirm => "Confirmar?" %>
	<%end %>
<% end %>

<% if usuario_signed_in? %>
<h2>Comente</h2>
	<%= form_for([@image, @image.comentarios.build]) do |f| %>
		<p><%= f.label :titulo %><br />
		<%= f.text_field :titulo %></p>

		<p><%= f.label :conteudo %><br />
		<%= f.text_area :conteudo %></p>
	
		<p><%= f.submit %></p>
	<% end %>
<% end %>

