<div id="templatemo_content">
<% @title = "Imagem" %>

	<h2 id="templatemo_titulo_imagem"><%= @image.titulo %></h2>
<div class="product_detail_left">
	<p><small>Criado por <%= link_to @image.usuario.nome, usuario_path(@image.usuario) %></small></p>
	<%= image_tag @image.photo.url(:large) %>
	<% if usuario_signed_in? %>
		<% if current_usuario.id == @image.usuario.id %>
			<p><%= link_to "Editar Imagem", edit_image_path(@image) %> | <%= link_to "Deletar Imagem", @image, :method => :delete, :confirm => "Confirmar?" %></p>
		<% end %>
	<% end %>
	<div id="comentarios">
		<h2>Comentários</h2>
		<% @local = 0%>
		<% @image.comentarios.each do |comentario| %>
			<% if @local != 0 %><% end %>
			<% @local += 1 %>
			<div class="product_img_wrapper">
				<%= comentario.usuario.nome %> disse:<%= comentario.titulo %>
				<%= comentario.conteudo %>
				<% if usuario_signed_in? &&  current_usuario.id == comentario.usuario.id%>
					<%= link_to "Apagar comentário",	[@image, comentario], :method => :delete, :confirm => "Confirmar?" %>
				<% end %>
			</div>
		<% end %>
	</div>
	<% if usuario_signed_in? %>
	<div id="comente">
	<h2>Comente</h2>
		<%= form_for([@image, @image.comentarios.build]) do |f| %>
			<p><h6><%= f.label :titulo %></h6>
			<%= f.text_field :titulo %></p>

			<p><h6><%= f.label :conteudo %></h6>
			<%= f.text_area :conteudo %></p>
	
			<p><%= f.submit %></p>
		<% end %>
	<% end %>
	</div>
</div>

<div class="product_detail_right"> 
		<%= render :partial => "sugestoes" %>
		<%= render :partial => "sugerir" %>
</div>
</div>
