<div id="templatemo_content">
<% @title = "Imagem" %>

	<h2 id="templatemo_titulo_imagem"><%= @image.titulo %></h2>
<div class="product_detail_left">
	<p><small>Criado por <%= link_to @image.usuario.nome, usuario_path(@image.usuario) %></small></p>
	<%= image_tag @image.photo.url(:large) %>
	<% if usuario_signed_in? %>
		<% if current_usuario.id == @image.usuario.id %>
			<p><%= link_to "Editar Imagem", edit_image_path(@image) %> | <%= link_to "Deletar Imagem", @image, :method => :delete, :confirm => "Confirmar?" %></p>
		<% end %>
	<% end %>
	<%= render :partial => "comentarios" %>
	<%= render :partial => "comente" %>
</div>

<div class="product_detail_right"> 
		<%= render :partial => "sugestoes" %>
		<%= render :partial => "sugerir" %>
</div>
</div>
