<p id="notice"><%= notice %></p>

<p>
  <b>Coord x:</b>
  <%= @coordenada.coord_x %>
</p>

<p>
  <b>Coord y:</b>
  <%= @coordenada.coord_y %>
</p>


<%= link_to 'Edit', edit_coordenada_path(@coordenada) %> |
<%= link_to 'Back', coordenadas_path %>
