<div id="templatemo_content">  
  <table width="321" border="0" align="left" cellspacing="10">
   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
   <%= devise_error_messages! %>
    <tr>
      <td width="279">
	<h2>  Edite usuário  </h2>

        <h5>Email:</h5>
        <div><%= f.email_field :email %></div>

     	<h5>Senha: </h5><i>(Deixe em branco se você não quer mudar isto!)</i><br />
	<div><%= f.password_field :password %></div>
      
        <h5>Confirmação de senha:</h5>
        <div><%= f.password_field :password_confirmation %></div>

	<h5>Senha Atual:</h5><i>(Precisamos da sua senha atual para confirmar sua atualização)</i><br />
	 <div> <%= f.password_field :current_password %></div>        

      </td>
	<td width="800"> <%= image_tag("ilustracao/fundo2.jpg", :alt=>"fundo2", :width=>"412", :height=>"280", :align=>"absmiddle") %></td>
    </tr>
	
    <tr>
      <td><div><%= f.submit "Update" %></div></td>
    </tr>
	
    <tr>
      <td><div><h3>Cancelar minha conta</h3></div></td>
    </tr>

    <tr>
      <td><div>Infeliz? <%= link_to "Cancelar minha conta?", registration_path(resource_name), :confirm => "Você está certo disso?", :method => :delete %></div></td>
    </tr>
    
    <tr>
      <td><div><%= link_to "Back", :back %></div></td>
    </tr>
	
    <% end %>

  </table>
</div>
