<div id="templatemo_content">
  
  <table width="321" border="0" align="left" cellspacing="10">
   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <tr>
      <td width="279">
	<h2>  Cadastre-se  </h2>

	<h5>Nome:</h5>
        <div><%= f.text_field :nome %></div>

        <h5>Email:</h5>
        <div><%= f.email_field :email %></div>

     	<h5>Password:</h5>
        <div><%= f.password_field :password %></div>
      
        <h5>Password Confirmation:</h5>
        <div><%= f.password_field :password_confirmation %></div>
        
      </td>
	<td width="800"> <%= image_tag("ilustracao/fundo2.jpg", :alt=>"fundo2", :width=>"412", :height=>"280", :align=>"absmiddle") %></td>
    </tr>
	
    <tr>
      <td><div><%= f.submit "Cadastrar" %></div></td>
    </tr>

    <tr>
      <td><div><h7><%= render :partial => "devise/shared/links" %></h7></div></td>
    </tr>	
    
    <% end %>

  </table>
</div>
