<div id="templatemo_content">
  
  <table width="321" border="0" align="left" cellspacing="10">
   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <tr>
      <td width="279">
	<h2>  Cadastre-se  </h2>

	<p>&nbsp;</p>
        Nome:
        <div><%= f.text_field :nome %></div>

        <p>&nbsp;</p>
        Email:
        <div><%= f.email_field :email %></div>

     	<p>&nbsp;</p>
        Password:
        <div><%= f.password_field :password %></div>
      
        <p>&nbsp;</p>
        Password Confirmation:
        <div><%= f.password_field :password_confirmation %></div>
        
      </td>
	<td width="800"> <%= image_tag("ilustracao/fundo2.jpg", :alt=>"fundo2", :width=>"412", :height=>"280", :align=>"absmiddle") %></td>
    </tr>
	
    <tr>
      <td><div><%= f.submit "Cadastrar" %></div></td>
    </tr>

    <tr>
      <td><div><%= render :partial => "devise/shared/links" %></div></td>
    </tr>	
    
    <% end %>

  </table>
</div>
