<h1>Listing categoria_de_usuarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria_de_usuarios.each do |categoria_de_usuario| %>
  <tr>
    <td><%= categoria_de_usuario.nome %></td>
    <td><%= categoria_de_usuario.descricao %></td>
    <td><%= link_to 'Show', categoria_de_usuario %></td>
    <td><%= link_to 'Edit', edit_categoria_de_usuario_path(categoria_de_usuario) %></td>
    <td><%= link_to 'Destroy', categoria_de_usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categoria de usuario', new_categoria_de_usuario_path %>
