

<div id="templatemo_content">
  
  <table width="321" border="0" align="left" cellspacing="10">
   <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>
    <tr><td><h2>Esqueceu sua senha ?</h2></td></tr>
    <tr>
      <td width="279">
	<h3> Email:  </h3>       
        <div><%= f.email_field :email %></div>
      </td>
    </tr>

    <tr>
      <td><div><%= f.submit "Entrar" %></div></td>
    </tr>

    <tr>
      <td><div><%= render :partial => "devise/shared/links" %></div></td>
    </tr>	
    
    <% end %>

  </table>
</div>
