<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @categoria_de_acesso.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @categoria_de_acesso.descricao %>
</p>


<%= link_to 'Edit', edit_categoria_de_acesso_path(@categoria_de_acesso) %> |
<%= link_to 'Back', categoria_de_acessos_path %>
